##Logistic Regrression

######Here we perform Logistic regression on titanic dataset and predict the chances of survival of people based on different factors.

######Let's get started with classification by importing necessary modules

In [131]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer

##Loading Dataset

In [132]:
df = pd.read_csv('/content/drive/My Drive/DataSets/titanic.csv')
df.head(10)

   pclass  survived  ...   body                        home.dest
0     1.0       1.0  ...    NaN                     St Louis, MO
1     1.0       1.0  ...    NaN  Montreal, PQ / Chesterville, ON
2     1.0       0.0  ...    NaN  Montreal, PQ / Chesterville, ON
3     1.0       0.0  ...  135.0  Montreal, PQ / Chesterville, ON
4     1.0       0.0  ...    NaN  Montreal, PQ / Chesterville, ON
5     1.0       1.0  ...    NaN                     New York, NY
6     1.0       1.0  ...    NaN                       Hudson, NY
7     1.0       0.0  ...    NaN                      Belfast, NI
8     1.0       1.0  ...    NaN              Bayside, Queens, NY
9     1.0       0.0  ...   22.0              Montevideo, Uruguay

[10 rows x 14 columns]

In [113]:
df.tail(10)

      pclass  survived  ...   body home.dest
1300     3.0       1.0  ...    NaN       NaN
1301     3.0       0.0  ...  312.0       NaN
1302     3.0       0.0  ...    NaN       NaN
1303     3.0       0.0  ...    NaN       NaN
1304     3.0       0.0  ...  328.0       NaN
1305     3.0       0.0  ...    NaN       NaN
1306     3.0       0.0  ...  304.0       NaN
1307     3.0       0.0  ...    NaN       NaN
1308     3.0       0.0  ...    NaN       NaN
1309     NaN       NaN  ...    NaN       NaN

[10 rows x 14 columns]

In [133]:
df.describe()

            pclass     survived  ...         fare        body
count  1309.000000  1309.000000  ...  1308.000000  121.000000
mean      2.294882     0.381971  ...    33.295479  160.809917
std       0.837836     0.486055  ...    51.758668   97.696922
min       1.000000     0.000000  ...     0.000000    1.000000
25%       2.000000     0.000000  ...     7.895800   72.000000
50%       3.000000     0.000000  ...    14.454200  155.000000
75%       3.000000     1.000000  ...    31.275000  256.000000
max       3.000000     1.000000  ...   512.329200  328.000000

[8 rows x 7 columns]

##Feature Extraction

In [148]:
data = df[['pclass', 'sex', 'age', 'survived']]
data.head(6)

   pclass     sex      age  survived
0     1.0  female  29.0000       1.0
1     1.0    male   0.9167       1.0
2     1.0  female   2.0000       0.0
3     1.0    male  30.0000       0.0
4     1.0  female  25.0000       0.0
5     1.0    male  48.0000       1.0

##Pre Proccessing

In [135]:
data.isna().sum(axis = 0)

pclass        1
sex           1
age         264
survived      1
dtype: int64

In [136]:
data.tail()

      pclass     sex   age  survived
1305     3.0  female   NaN       0.0
1306     3.0    male  26.5       0.0
1307     3.0    male  27.0       0.0
1308     3.0    male  29.0       0.0
1309     NaN     NaN   NaN       NaN

In [149]:
data = data.dropna(subset = ['sex', 'pclass', 'survived'])
data.tail()

      pclass     sex   age  survived
1304     3.0  female  14.5       0.0
1305     3.0  female   NaN       0.0
1306     3.0    male  26.5       0.0
1307     3.0    male  27.0       0.0
1308     3.0    male  29.0       0.0

In [138]:
data.describe()

            pclass          age     survived
count  1309.000000  1046.000000  1309.000000
mean      2.294882    29.881135     0.381971
std       0.837836    14.413500     0.486055
min       1.000000     0.166700     0.000000
25%       2.000000    21.000000     0.000000
50%       3.000000    28.000000     0.000000
75%       3.000000    39.000000     1.000000
max       3.000000    80.000000     1.000000

In [139]:
data.isna().sum(axis = 0)

pclass        0
sex           0
age         263
survived      0
dtype: int64

##PreProcessing : Changing Ordinal value

In [150]:
data['sex'] = data['sex'].map({'male':1, 'female': 0})

In [151]:
data.head()

   pclass  sex      age  survived
0     1.0    0  29.0000       1.0
1     1.0    1   0.9167       1.0
2     1.0    0   2.0000       0.0
3     1.0    1  30.0000       0.0
4     1.0    0  25.0000       0.0

##Feature Extraction: Seperating data and predicting row

In [152]:
X = data[['pclass', 'age', 'sex']]
y = data[['survived']]

##PreProcessing : Dealing with Missing values in age column

In [156]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values = np.nan, strategy = 'mean')
X = si.fit_transform(X)
print(X)

[[ 1.     29.      0.    ]
 [ 1.      0.9167  1.    ]
 [ 1.      2.      0.    ]
 ...
 [ 3.     26.5     1.    ]
 [ 3.     27.      1.    ]
 [ 3.     29.      1.    ]]

##Train Test Spllit

In [158]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train, y_test = train_test_split( X, y, test_size = 0.2)

##Training Model

In [159]:
modelLR = LogisticRegression()
modelLR.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

##Model Prediction

In [167]:
y_pred = modelLR.predict(X_test)
print(y_pred)

[1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1.
 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 0. 0.
 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 1.
 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0.
 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 0.]

##Model Evaluation: Confusion Matrix and Acuuracy Score

In [168]:
print('The Confusion Matrix is: ', confusion_matrix(y_test, y_pred))
print('The accuracy matrix is : ', accuracy_score(y_test, y_pred))

The Confusion Matrix is:  [[133  33]
 [ 35  61]]
The accuracy matrix is :  0.7404580152671756